& when (@critical) {
    .breeze-theme .whatsapp-list-button-div,
    .breeze-theme .whatsapp-button-div {
        margin: 0;
        max-width: none !important;
    }
    .breeze-theme .whatsapp-button-div {
        .wk_whatsapp {
            line-height: inherit;
            font-size: inherit;
            .lib-css(padding, @button__padding);
            &:extend(.product-info-wrapper .product-add-form .tocart); // argento force
            &:extend(.product-info-wrapper .box-tocart .tocart); // argento stripes
            &:extend(.box-tocart .fieldset .actions .tocart); // argento chic
        }
        .wk_whatsapp_icon {
            display: flex;
            align-items: center;
            gap: @1;
        }
        .wk_whatsapp_icon::before {
            font-size: @font-size__xl;
        }
    }
    .breeze-theme .whatsapp-list-button-div {
        .wk_whatsapp_icon_page {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .wk_whatsapp_icon_page::before {
            font-size: 1.55rem;
            line-height: @listing-item-actions-secondary-icon__height;
            text-align: center;
            padding: 0;
        }
    }
    .breeze-theme.checkout-cart-index .whatsapp-button-div {
        .wk_whatsapp_icon::before {
            font-size: @font-size__2xl;
        }
    }
}
